**/__pycache__/
**/**/__pycache__/
.venv
data/Debug
data/Fmt
data/Results
data/InputFiles/interpid2009.swf
data/InputFiles/cori_2022.swf
data/InputFiles/theta_2022.swf
cqsim_original/data/InputFiles/*